@font-face {
  font-family: 'UrduKhushKhati';
  src: url("../UrduKhushKhati.woff2"); 
       url("../UrduKhushKhati.woff") format("woff"), 
       url("../UrduKhushKhati.ttf") format("truetype"), 
  unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
}
